# =========================================================================
# JWT secret za auth (HS256, min 256-bit).
# Kreiraj sa:
#   kubectl create secret generic jwt-secret \
#     --from-literal=JWT_SECRET="$(openssl rand -base64 64)" \
#     -n banka2-tim2
# =========================================================================
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: banka2-tim2
type: Opaque
stringData:
  JWT_SECRET: "REPLACE_ME_WITH_OPENSSL_RAND_BASE64_64"
